body{
    background: linear-gradient(to right, #d12917 0%, #171616 100%);
}

.card{
        width: 640px;
        margin: 50px auto;
        background-color: whitesmoke;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px;
        text-align: left;
}


.badge{
    width: 60px;
    padding: 5px;
}

.btn :hover{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}